################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Barrales Bank Record System Project/v17
/x64/Debug
/.vs/Barrales Bank Record System Project/FileContentIndex/84e1d1ef-0bcb-4096-88d6-b43820ea037f.vsidx
/.vs/Barrales Bank Record System Project/FileContentIndex
