################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Barrales Bank Record System Project/v17
/x64/Debug
